.login {
    text-align: center;
    background-color: #006400;
    display: grid;
    height: 100vh;
    width: 100%;
   
}

.config {
    padding: 0.5vh 5vh;
    margin: 3vh 3vh;
    text-align: right;
    font-style: 25px;

}


.login-1 {
    width: 25%;
    height: 75%;
    margin: 12vh 85vh 16vh;
}



