.principal {
   background-color: #333;
    height: 100vh;
    margin: 0 0;
    width: 23%;
    display: flex;
    flex-direction: column;
    color: white;
   
    
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0;
    color:white
    
}

.home{
    margin: 0 3.5vh;
}


.menu-4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4vh 152vh; 
}

.menu-3 {
    box-shadow: none !important;
    margin: 6px 3px;
    
    background-color: #333;
    padding: 0 0;
   
}


.lateral {
    background-color: #006400;
    height: 10vh;
    

    
   
}

.texto {
    color: white;
    margin: 5vh 0;
    
}

.menu-2 {
    margin: 0 10px;
    font-size: 20px;
   

    
}

.menus {
    background-color: #333 !important;
    box-shadow: none !important;
    
}

.seta {
    color: rgba(255, 255, 255 )
}

.botao {
    color: #fff;
    margin: 0 30px;
    font-size: 20px;
}

.botao-2 {
    color: #fff;
    margin: 0 30px;
    font-size: 20px;
}


